﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="TestService.aspx.cs" Inherits="Customcontrol_Demo.TestService" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label runat="server" ID="Label2" Text=""> </asp:Label>
    <asp:Label runat="server" ID="Label1" Text=""> </asp:Label>
</asp:Content>
